# API
API_PORT=3001
NODE_ENV=development

# Database
DATABASE_URL=postgresql://helpdeskpro:helpdeskpro@db:5432/helpdeskpro

# Auth
JWT_SECRET=seu-secret-jwt-super-seguro-mude-em-producao
JWT_EXPIRES_IN=7d

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001/api
