# Database
DATABASE_URL="postgresql://helpdeskpro:helpdeskpro@localhost:5432/helpdeskpro"

# API
API_PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET="seu-secret-jwt-super-seguro-mudar-em-producao"
JWT_EXPIRES_IN="7d"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001/api"

# Docker
POSTGRES_USER=helpdeskpro
POSTGRES_PASSWORD=helpdeskpro
POSTGRES_DB=helpdeskpro
