@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2b73c9;
  --color-success: #2db87d;
  --color-danger: #e85d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
